button {
    border: 0px solid #b2df28;
    background-color: #00b5cc;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
   }
   
   button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
   }
   
   button:hover {
    /* background-color: #0071e2; */
    box-shadow: 0 0 1em #b2df28;
    cursor: pointer;
   }