@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Import Roboto font */

body {
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.app-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center align items */
  justify-content: center; /* Center items vertically */
  width: 100%;
  max-width: 100%;
  position: relative;
  background-image: url('../assets/wallpaper3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 16px;
  padding: 16px;
  justify-content: center;
  width: 100%; /* Use 100% instead of 100vw */
  max-width: 100%;
  margin: auto;
  margin-top: 70px;
}

.card-item {
  flex: 1 1 calc(20% - 16px);
  max-width: calc(20% - 16px);
  box-sizing: border-box;
  margin-bottom: 0px;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;
  margin-right: 16px;
  background-color: #272727;
}

.card-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px #b2df28;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.pagination-container button {
  background-color: #42b4ca;
  color: #fff; /* Set font color to white */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
  border: none;
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-container button:hover {
  background-color: #42b4ca; /* Keep the same background color on hover */
}
