body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  background-color: #161616;
  background-image: url("../assets/wallpaper3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-y: auto;
  position: relative;
}

.logo {
  margin-top: 3rem; /* Adjusted margin using rem units */
  margin-bottom: 0.3rem; /* Adjusted margin using rem units */
  margin-left: 0.3rem; /* Adjusted margin using rem units */
  justify-content: center;
  animation: glow 3s infinite ease-in-out;
}

.logo:hover {
  filter: drop-shadow(0 0 1em #646cffaa); /* Simplified drop-shadow effect */
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 0.5px #b2df28) drop-shadow(0 0 2px #b2df28)
      drop-shadow(0 0 10px #b2df28);
  }
  50% {
    filter: drop-shadow(0 0 1px #b2df28) drop-shadow(0 0 2px #b2df28)
      drop-shadow(0 0 18px #b2df28);
  }
  100% {
    filter: drop-shadow(0 0 0.5px #b2df28) drop-shadow(0 0 2px #b2df28)
      drop-shadow(0 0 10px #b2df28);
  }
}

.search-bar {
  display: flex;
  width: 100%;
  max-width: 50rem; /* Adjusted max-width using rem units */
  justify-content: center;
  margin-top: 2rem; /* Adjusted margin using rem units */
}

.button-container {
  display: flex;
  width: 100%;
  max-width: 20rem; /* Adjusted max-width using rem units */
  justify-content: center;
  margin-top: 1rem; /* Adjusted margin using rem units */
}

.button-container button {
  margin-right: 0.8rem; /* Adjusted margin using rem units */
}

.paragraph-container {
  display: flex;
  justify-content: center;
  font-size: large;
  align-items: center;
  text-align: center; /* Center text within the container */
  color: #ffffff;
  width: 1000px;
  /* height: 100vh;
    padding: 20px; */
}
@media (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .logo {
    margin-top: 1.5rem; /* Further adjusted margin using rem units */
  }

  .button-container {
    max-width: 15rem; /* Further adjusted max-width using rem units */
  }
}
