.search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search__input {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    background-color: #3c3c3c;
    border: none;
    color: #00b5cc;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 20em;
    height: 40px;
    transition: all ease-in-out 0.5s;
    padding-right: 3rem; /* Adjusted for button space */
}

.search__input:hover,
.search__input:focus {
    box-shadow: 0 0 1em #b2df28;
}

.search__input:focus {
    outline: none;
    background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    font-size: large;
    color: #00b5cc;
}

.search__button {
    border-radius: 50%;
    border: none;
    background-color: #b2df28;
    height: 60px;
    width: 60px;
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.search__button:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

.search__icon {
    height: 50px;
    width: 60px;
    fill: #00b5cc;
}
